.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  box-sizing: border-box;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-links a:hover, .active-link {
  color: #f39c12; /* Couleur orange au survol ou si actif */
}

.btn-register {
  background-color: #f39c12;
  padding: 8px 15px;
  border-radius: 4px;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
}

.btn-register:hover {
  background-color: #e67e22;
}
