<nav class="navbar">
  <div class="logo">
    <h3>MonAppResto</h3>
  </div>

  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-link">Accueil</a>
    <a routerLink="/restaurateur" routerLinkActive="active-link">Restaurateur</a>
    <a routerLink="/client" routerLinkActive="active-link">Client</a>
    <a routerLink="/admin" routerLinkActive="active-link">SuperAdmin</a>
  </div>

  <div class="auth-buttons">
    <a routerLink="/login">Connexion</a>
    <a routerLink="/register" class="btn-register">Créer un compte</a>
  </div>
</nav>
